{% extends "base.html" %} 
{% block daniela %}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            <i class="fa fa-laptop"></i>Clinica</h3>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/atendimento/">Home</a>
            </li>
            <li>
                <i class="fa fa-laptop"></i>Clinica</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1 class="display-4">Ollá, tudo bem?</h1>
            <p class="lead">Seja bem vindo ao sistema de gestão de atendimento clinicos.</p>
            <hr class="my-4">
            <p>Conheça abaixo as opções do sistema.</p>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-9 col-md-3 col-lg-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top, img" src="https://icdn5.digitaltrends.com/image/bitmoji_feature_3-396x398.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Olá</h5>
                <p class="card-text">Sou Debora, Psiquiatra.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-9 col-md-3 col-lg-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top, img" src="https://wynstep.files.wordpress.com/2016/11/bitmoji-20161103192209.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Olá</h5>
                <p class="card-text">Sou Mariana, Dentista.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-9 col-md-3 col-lg-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top, img" src="https://cdn140.picsart.com/262225229023212.png?r1024x1024" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Olá</h5>
                <p class="card-text">Sou Joana, Clinico Geral.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-9 col-md-3 col-lg-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top, img" src="https://3.bp.blogspot.com/-uxAPNsBmes4/V5GDDt2w8tI/AAAAAAAAAFE/2xMx9ifK5d8G3dPbnssENx9_SoZT-zaNwCLcB/s1600/bitmoji-20160721105252.png"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Olá</h5>
                <p class="card-text">Sou Milena, Pediatra.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

</div>
{% endblock %}